<main>

  <div id="myCarousel" class="pb-3 carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">


      <div *ngFor=" let item of carousel;" class="carousel-item {{ item.class }}">
        <img [src]=" item.imagem " class="bd-placeholder-img img-carousel" width="100%">

        <div class="container">
          <div class="carousel-caption text-center text-black mb-lg-4 bg-espelho">
            <h1>{{ item.titulo }}</h1>
            <p>{{ item.subtitulo }}</p>
            <p><a class="btn btn-lg btn-secondary" [href]=" item.saibamais ">Saiba mais &raquo;</a></p>
          </div>
        </div>
      </div>


    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="visually-hidden">Next</span>
    </button>

  </div>

  <div class="container marketing">

    <carousel class="pb-2">

      <div *ngFor="let item of cards;" class="carousel-cell">
        <a href="{{ item.acompanhar }}">
          <img src="{{ item.imagem }}" width="100%" class="img-carousel" focusable="false">
        </a>
      </div>

    </carousel>

    <div *ngFor="let item of newshome;">

      <hr class="featurette-divider">

      <div class="row featurette pb-3">

        <ng-template [ngIf]="item.indice%2==0">
          <div class="col-md-7">
            <h2 class="featurette-heading">{{ item.titulo }}</h2>
            <p class="lead">{{ item.subtitulo }}</p>
          </div>
        </ng-template>

        <ng-template [ngIf]="item.indice%2!=0">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">{{ item.titulo }}</h2>
            <p class="lead">{{ item.subtitulo }}</p>
          </div>
        </ng-template>

        <div class="col-md-5">
          <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
            height="500" src="{{ item.imagem }}" role="img">
        </div>

      </div>

    </div>

  </div>

</main>
