/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: black;}

.w-15{
  width: 15%;
}

.text-justify{
  text-align: justify;
}

.bg-nav-footer{
  background-color: #0e0e0e;
}

.bg-espelho{
  border-radius: 20px;
  background: rgba(128, 128, 128, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
