<nav class="navbar navbar-expand-xl navbar-dark bg-nav" aria-label="Sixth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-lg-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/news">Novidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/cad">Crie uma conta</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="dropdown06" data-bs-toggle="dropdown" aria-expanded="false">Mais sobre</a>
          <ul class="dropdown-menu bg-black" aria-labelledby="dropdown06">
            <li><a class="dropdown-item text-light" href="#">Como funciona o jogo</a></li>
            <li><a class="dropdown-item text-light" href="#">Regras do jogo</a></li>
            <li><a class="dropdown-item text-light" href="#">Mais sobre nós</a></li>
          </ul>
        </li>
      </ul>
      <form class="ps-5">
        <input class="form-control" type="text" placeholder="Pesquisar" aria-label="Search">
      </form>
    </div>
  </div>
</nav>
