<div class="bg-cad">

  <div class="row h-100 justify-content-center">

    <div class="col-10">

      <div class="input-group my-3">
        <span class="input-group-text">Username</span>
        <input type="text" class="form-control" placeholder="Informe seu Username">
      </div>

      <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="Recipient's username">
        <span class="input-group-text">@domínio.com</span>
      </div>

      <label for="basic-url" class="form-label">Your vanity URL</label>
      <div class="input-group mb-3">
        <span class="input-group-text">https://example.com/users/</span>
        <input type="text" class="form-control" id="basic-url">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="text" class="form-control">
        <span class="input-group-text">.00</span>
      </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Username">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" placeholder="Server">
      </div>

      <div class="input-group">
        <span class="input-group-text">With textarea</span>
        <textarea class="form-control"></textarea>
      </div>

    </div>

  </div>

</div>
