<div class="container marketing">

  <div class="text-center p-2">
    <span class="fs-1 fw-bold my-auto text-black">Todas as novidades</span>
  </div>

  <div *ngFor="let item of news;">

    <hr class="featurette-divider mt-0">

    <div class="row featurette pb-3">

      <ng-template [ngIf]="item.indice%2==0">
        <div class="col-lg-7 my-auto">
          <h2 class="featurette-heading">{{ item.titulo }}</h2>
          <p class="lead">{{ item.subtitulo }}</p>
        </div>
      </ng-template>

      <ng-template [ngIf]="item.indice%2!=0">
        <div class="col-lg-7 text-end my-auto order-md-2">
          <h2 class="featurette-heading">{{ item.titulo }}</h2>
          <p class="lead">{{ item.subtitulo }}</p>
        </div>
      </ng-template>

      <div class="col-lg-5 text-center">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" src="{{ item.imagem }}" role="img">
      </div>

    </div>

  </div>

</div>
