<div class="bg-login">

  <div class="row h-100 justify-content-center">

    <div class="col-8 my-auto p-5 bg-espelho">

      <form>

        <div class="input-group mb-3">
          <span class="input-group-text spans fs-5">Username</span>
          <input type="text" class="form-control fs-5" placeholder="Informe seu Username" required name="username">
        </div>

        <div class="input-group mb-3">
          <input type="password" class="form-control fs-5" placeholder="Insira uma senha para sua conta" required name="senha">
        </div>

        <div class="row row-btns">
          <div class="col-6">
            <button class="btn btn-danger w-100 h-100 fs-4 fw-bold" type="reset" role="button">Resetar</button>
          </div>
          <div class="col-6">
            <button class="btn btn-success w-100 h-100 fs-4 fw-bold" type="submit" role="button">Entrar</button>
          </div>
        </div>

      </form>

    </div>

  </div>

</div>

