<ion-content [fullscreen]="true">

  <div class="content">

    <ion-card class="ion-padding-vertical">

      <ion-card-title class="ion-text-center ion-text-italic">
        Crie sua Conta
      </ion-card-title>

      <ion-card-content>

        <div class="ion-text-center">
          <b>
            Crie uma conta e seja muito bem-vindo (a) ao nosso servidor!
          </b>
        </div>

        <div class="ion-text-justify ion-padding-top">
          Logo após a criação e confirmação do email, sua conta estará disponível para efetuar login no game!
        </div>

      </ion-card-content>

    </ion-card>

    <ion-card class="ion-margin-top ion-padding-vertical">

      <ion-item>

        <ion-label class="ion-text-center" position="floating">Insira seu nome completo</ion-label>
        <ion-input></ion-input>

      </ion-item>

      <ion-item>

        <ion-label class="ion-text-center" position="floating">Insira o seu e-mail</ion-label>
        <ion-input type="email"></ion-input>

      </ion-item>

      <ion-item>

        <ion-label class="ion-text-center" position="floating">Insira um nome de usuário para o game</ion-label>
        <ion-input></ion-input>

      </ion-item>

      <ion-item>

        <ion-label class="ion-text-center" position="floating">Insira uma senha</ion-label>
        <ion-input type="password"></ion-input>

      </ion-item>

      <ion-item class="ion-text-center">

        <ion-input class="ion-padding-vertical" type="date"></ion-input>

      </ion-item>

      <ion-row>

        <ion-col>
          <ion-button class="w-100" color="danger">
            Resetar
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button class="w-100" color="success">
            Cadastrar
          </ion-button>
        </ion-col>

      </ion-row>

    </ion-card>

  </div>

</ion-content>
